<div class="footer-social-content">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-social-text">
                    <p>Copyright © 2019 | Bolt Infotech Pvt. Ltd. All rights reserved.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-social-icon">
                    <span class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </span>
                    <span class="social-icon">
                        <i class="far fa-envelope"></i>
                    </span>
                    <span class="social-icon">
                        <i class="fab fa-whatsapp"></i>
                    </span>
                    <span class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </span>
                    <span class="social-icon">
                            <i class="fab fa-facebook-square"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
</div>