<div class="footer-social-content">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 footer-social-text-column">
                <div class="footer-social-text">
                    <p class="footer-social-text-para">
                        <span>
                            Copyright © 2019 
                            <span class="footer-social-text-para-hide">
                                    |
                            </span>
                            
                        </span>
                        <span>
                            Bolt Infotech Pvt. Ltd. All rights reserved.
                        </span>  
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-social-icon">
                    <span class="social-icon">
                        <a href="https://www.instagram.com/_bolt_infotech/"><i class="fab fa-instagram"></i></a>
                    </span>
                    <span class="social-icon">
                        <a href="mailto:support@boltinfotecch.com">
                            <i class="far fa-envelope"></i>
                        </a>
                    </span>
                    <span class="social-icon">
                        <a href="tel:+919454714721">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </span>
                    <span class="social-icon">
                        <a href="https://www.linkedin.com/company/bolt-infotech">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </span>
                    <span class="social-icon">
                        <a href="https://www.facebook.com/officialboltinfotech">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
</div>