<%- include("partials/header") -%>
<!-- section1: mobile Development -->
<div id="mobile-development" class="section">
	<div class="container container-wrap">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="images/1 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="content-wrap">
                    <h1>
                    <strong>
                    Mobile Development
                    </strong>
                    </h1><br />
                    <p class="head-para">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quaquunturm
                    </p>
                    <p class="for-desktop">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quam necessitatibus, consequuntur ea vitae quo facilis rerum ex quod optio accusamus qui illo, ducimus cumque laboriosam assumenda quas distinctio voluptas? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, officia consequuntur! Dolore voluptatum iure impedit, quo repellendus, ipsa consequuntur, fuga velit eaque eveniet quam error quisquam sed esse molestiae eum.</p>
                    <br />
                    <button class="btn btn-outline-danger btn-lg">
                    View More
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- section2: web Development -->
<div id="web-development" class="section">
    <div class="container container-wrap">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="images/2 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="content-wrap">
                    <h1>
                    <strong>
                    Web Development
                    </strong>
                    </h1><br />
                    <p class="head-para">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quaquunturm
                    </p>
                    <p class="for-desktop">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quam necessitatibus, consequuntur ea vitae quo facilis rerum ex quod optio accusamus qui illo, ducimus cumque laboriosam assumenda quas distinctio voluptas? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, officia consequuntur! Dolore voluptatum iure impedit, quo repellendus, ipsa consequuntur, fuga velit eaque eveniet quam error quisquam sed esse molestiae eum.</p>
                    <br />
                    <button class="btn btn-outline-danger btn-lg">
                    View More
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- section3: mobile games -->
<div id="mobile-games" class="section">
    <div class="container container-wrap">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="images/3 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="content-wrap">
                    <h1>
                    <strong>
                    Mobile Games
                    </strong>
                    </h1><br />
                    <p class="head-para">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quaquunturm
                    </p>
                    <p class="for-desktop">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quam necessitatibus, consequuntur ea vitae quo facilis rerum ex quod optio accusamus qui illo, ducimus cumque laboriosam assumenda quas distinctio voluptas? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, officia consequuntur! Dolore voluptatum iure impedit, quo repellendus, ipsa consequuntur, fuga velit eaque eveniet quam error quisquam sed esse molestiae eum.</p>
                    <br />
                    <button class="btn btn-outline-danger btn-lg">
                    View More
                    </button>
                </div>

            </div>
        </div>
    </div>
    </div>
    <!-- section4: stuff we did -->
    <div id="stuff-we-did" class="section">
        <div class="container container-wrap">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="images/4 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="content-wrap">
                        <h1>
                        <strong>
                        Stuff we did
                        </strong>
                        </h1><br />
                        <p class="head-para">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quaquunturm
                        </p>
                        <p class="for-desktop">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quam necessitatibus, consequuntur ea vitae quo facilis rerum ex quod optio accusamus qui illo, ducimus cumque laboriosam assumenda quas distinctio voluptas? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, officia consequuntur! Dolore voluptatum iure impedit, quo repellendus, ipsa consequuntur, fuga velit eaque eveniet quam error quisquam sed esse molestiae eum.</p>
                        <br />
                        <button class="btn btn-outline-danger btn-lg">
                        View More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section5: Share your idea -->
    <div id="stuff-we-did" class="section">
        <div class="container container-wrap">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="images/5 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="content-wrap">
                        <h1>
                        <strong>
                        Share your idea
                        </strong>
                        </h1><br />
                        <p class="head-para">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quaquunturm
                        </p>
                        <p class="for-desktop">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quam necessitatibus, consequuntur ea vitae quo facilis rerum ex quod optio accusamus qui illo, ducimus cumque laboriosam assumenda quas distinctio voluptas? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, officia consequuntur! Dolore voluptatum iure impedit, quo repellendus, ipsa consequuntur, fuga velit eaque eveniet quam error quisquam sed esse molestiae eum.</p>
                        <br />
                        <button class="btn btn-outline-danger btn-lg">
                        View More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section6: This is us -->
    <div id="this-is-us" class="section">
        <div class="container container-wrap">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="images/6 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="content-wrap">
                        <h1>
                        <strong>
                        This is us
                        </strong>
                        </h1><br />
                        <p class="head-para">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quaquunturm
                        </p>
                        <p class="for-desktop">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quam necessitatibus, consequuntur ea vitae quo facilis rerum ex quod optio accusamus qui illo, ducimus cumque laboriosam assumenda quas distinctio voluptas? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, officia consequuntur! Dolore voluptatum iure impedit, quo repellendus, ipsa consequuntur, fuga velit eaque eveniet quam error quisquam sed esse molestiae eum.</p>
                        <br />
                        <button class="btn btn-outline-danger btn-lg">
                        View More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section7: Get in touch -->
    <div id="get-in-touch" class="section">
        <div class="container container-wrap">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="images/7 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="content-wrap">
                        <h1>
                        <strong>
                        Get in touch
                        </strong>
                        </h1><br />
                        <p class="head-para">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quaquunturm
                        </p>
                        <p class="for-desktop">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quam necessitatibus, consequuntur ea vitae quo facilis rerum ex quod optio accusamus qui illo, ducimus cumque laboriosam assumenda quas distinctio voluptas? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, officia consequuntur! Dolore voluptatum iure impedit, quo repellendus, ipsa consequuntur, fuga velit eaque eveniet quam error quisquam sed esse molestiae eum.</p>
                        <br />
                        <button class="btn btn-outline-danger btn-lg">
                        View More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") -%>
