<%- include("partials/header") -%>
<link rel="stylesheet" href="css/appDownLoad.css">
<img src="images/easyDay/banner.jpg" alt="" class="bg-img">
<div class="container-custom bg-img">
    <h1 class="big-head">Welcome to Easy Day, Barabanki</h1>
    <h4 class="sub-head">Get Item Deliver at your Doorstep</h4>
    <div class="container row m-top">
        <div class="col-md-6">
            <div class="center-position">
                <img src="images/easyDay/qr.png" class="qr">
            </div>
        </div>
        <div class="col-md-6 big-text">
            <ul class="app-ul">
                <li>
                    1. Download our app
                </li>
                <li>
                    2. Scan QR Code
                </li>
                <li>
                    3. Register your Account
                </li>
                <li>
                    4. Prepare Shopping List and Order 
                </li>
                <li>
                    5. Get Delivered
                </li>
                <li>
                    <button class="btn btn-danger button-margin" id="appDemo">Download Now</button>
                </li>
            </ul>
        </div>
    </div>
</div>
