<%- include("partials/header") -%>
<link rel="stylesheet" href="css/blogs.css">
<h2 class="h2">Coming Soon .... !!!
</h2>
<div class="foot">
    <%- include("partials/footer-social") -%>
</div>
<script src="js/typeEffect.js"></script>
<%- include("partials/footer") -%> 
