<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>We Code your Ideas!</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<!-- scroll css -->
<link rel="stylesheet" href="css/vendor.css">
<!-- custom css -->
<link rel="stylesheet" href="css/styles.css">
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<!-- bootstrap4.3.1 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- Navbar -->
<nav id="menu" class="active navbar navbar-expand-lg navbar-light shadow-sm p-3 mb-5 bg-white rounded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="images/logo-nav.png" style="padding-left: 2rem;" alt="bolt-logo">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/about">About Us <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/whatWeDo">What we do</a>
                <a class="nav-item nav-link" href="/blogs">Blogs</a>
                <a class="nav-item nav-link" href="/ourWork">Our Work</a>
                <a class="nav-item nav-link" href="/careers">Careers</a>
                <form action="/contactUs" method="GET">
                    <button class="btn btn-danger my-2 my-sm-0" type="submit">Get Estimate</button>
                </form>
            </div>
        </div>
    </a>
</nav>
<div id="pagepiling">
    <!-- section0: landing section -->
    <div id="home" class="section">
        <div class="container container-wrap">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="images/0 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="content-wrap">
                        <h1>
                        <strong>
                        Welcome to <span>BOLT</span> 
                        </strong>
                        </h1><br />
                        <p class="head-para">
                            We work round the clock to provide IT support solutions you need;
                            ...when you need them!
                        </p>
                        <p class="for-desktop">
                            At Bolt Infotech, we develop innovative and creative software and services that provide total communication and information solutions. Since 2015, we have been helping global companies and established brands reimagine their business by building impactful digital engineering solutions powered by the latest technologies. Bolt's business philosophy is to assure the highest quality product, total client satisfaction, timely delivery of solutions and the best quality/price ratio found in the industry. 
                        </p>
                        <br />
                        <form action="/#mobile-development">
                            <button type="submit" id="mobile-development-view" class="btn btn-outline-danger btn-lg btn-v-small-mob">
                                    &#8659;
                            </button>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- section1: mobile Development -->
    <div id="mobile-development" class="section">
        <div class="container container-wrap">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="images/1 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="content-wrap">
                        <h1>
                        <strong>
                        Mobile <span>Development</span> 
                        </strong>
                        </h1><br />
                        <p class="head-para">
                        Because our Mobile device quickly has become the easiest portal into our digital self.
                        </p>
                        <p class="for-desktop">
                            Mobile is becoming not only the new digital hub but also the bridge to the physical world. That’s why mobile will affect more than just your digital operations – it will transform your entire business. We develop High end Mobile applications on the top of cutting edge tech stacks that can take your business to new heights. We go through your ideas and work with you to evolve it! We believe Mobile is not the future, it is the now. So, offer your customers best present with us. 
                        </p>
                        <br />
                        <form action="/mobileDevelopment" method="GET">
                            <button type="submit" id="mobile-development-view" class="btn btn-outline-danger btn-lg btn-v-small-mob">
                                    View More
                            </button>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- section2: web Development -->
    <div id="web-development" class="section">
        <div class="container container-wrap">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="images/2 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="content-wrap">
                        <h1>
                        <strong>
                        Web <span>Development</span> 
                        </strong>
                        </h1><br />
                        <p class="head-para">
                            We don't just sell websites, we create web applications that SELL.
                        </p>
                        <p class="for-desktop">Not every website is created equal. Building a website is easy, building an effective website that will help your business foster a pipeline of new leads and customers is a very difficult task. The online landscape is more competitive than ever. Your business needs a partner that has the skills, technology, and experience to create an industry leading website for your business that can compete in today's overcrowded marketplace.</p>
                        <br />
                        <form action="/webDevelopment" method="GET">
                            <button type="submit" id="mobile-development-view" class="btn btn-outline-danger btn-lg btn-v-small-mob">
                                    View More
                            </button>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- section3: graphics Design  -->
    <div id="graphics-design" class="section">
        <div class="container container-wrap">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="images/3 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="content-wrap">
                        <h1>
                        <strong>
                        Grpahics <span>Design</span>
                        </strong>
                        </h1><br />
                        <p class="head-para">
                        Design is not just what it looks like and feels like. Design is how it works.
                        </p>
                        <p class="for-desktop">We design for the future in ways that make sense right now. We’re strategic experts and creative explorers committed to solving complex challenges. With smart tools and global resources, we examine the implications of every brand choice, create new experiences, and open doors to opportunity.Across industries and categories, products and services, continents and cultures, we partner with our clients to build brands that stand for something without ever standing still.</p>
                        <br />
                        <form action="/graphicsDesign" method="GET">
                            <button class="btn btn-outline-danger btn-lg btn-v-small-mob">
                            View More
                            </button>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- section4: mobile games -->
    <div id="mobile-games" class="section">
        <div class="container container-wrap">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="images/4 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="content-wrap">
                        <h1>
                        <strong>
                        Mobile <span>Games</span>
                        </strong>
                        </h1><br />
                        <p class="head-para">
                        Creating fun games that never get old is our main focus! Everything else is just icing on the cake.
                        </p>
                        <p class="for-desktop">We strive to create excellent games and useful resources that help shape your industry. Basically, we want it to be the coolest thing in your closet.We have dedicated a lot of time and thought into creating games that bring people together.Not only does We Make Games design fan-flipping-tastic board games, but we help the table top game community in many ways by using our talents and abilities.</p>
                        <br />
                        <form action="/mobileGames" method="GET">
                            <button class="btn btn-outline-danger btn-lg btn-v-small-mob">
                            View More
                            </button>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
        </div>
        <!-- section5: customized software -->
    <div id="customized-software" class="section">
        <div class="container container-wrap">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="images/5 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="content-wrap">
                        <h1>
                        <strong>
                        Customized <span>Software</span> 
                        </strong>
                        </h1><br />
                        <p class="head-para">
                        Software is the magic thing whose importance only goes up over time. We love creating such magic factors.
                        </p>
                        <p class="for-desktop">Solving complex, algorithmic, engineering problem is our passion.Our team of software engineers is always keen to take on the next challenge.Whether you are an established company or a start-up, with our skills, expertise and passion, we can definitely add a great value to your organization. As your technology partner, we help you in development so that you can focus on the other critical business activities.</p>
                        <br />
                        <form action="/customizedSoftware" method="GET">
                            <button class="btn btn-outline-danger btn-lg btn-v-small-mob">
                            View More
                            </button>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
        </div>
        <!-- section6: stuff we did -->
        <div id="stuff-we-did" class="section">
            <div class="container container-wrap">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <img src="images/6 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="content-wrap">
                            <h1>
                            <strong>
                            Stuff <span>we did</span> 
                            </strong>
                            </h1><br />
                            <p class="head-para">
                            Because the expectation is upping a 100% up-time a 100 times in no time. So we keep ourselves updated. Always!
                            </p>
                            <p class="for-desktop">We carry a passion for turning ideas into tangible and measurable digital solutions. We study your projects and develop a comprehensive solution that connects to your desired audience. We  build a robust IT system for you, control maintenance costs, reduce downtime, improve end-user experience and upgrade to facilitate responsiveness.With a power-packed team of industry experts, skilled and qualified engineers, we have delivered services that are par excellence.</p>
                            <br />
                            <form action="/ourWork" method="GET">
                                <button class="btn btn-outline-danger btn-lg btn-v-small-mob">
                                View More
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section7: Share your idea -->
        <div id="stuff-we-did" class="section">
            <div class="container container-wrap">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <img src="images/7 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="content-wrap">
                            <h1>
                            <strong>
                            Share <span>your idea</span> 
                            </strong>
                            </h1><br />
                            <p class="head-para">
                            Ideas Won't Keep. Something Must Be Done About Them. Do share it with us to add digital wings to it.
                            </p>
                            <p class="for-desktop">It all starts with your idea. If it matters to you, it matters to us, and we want to help you realize it. A new idea for business should get the chance to be a new business, not languish undeveloped. Idea generation has tremendous value, but only if it has the chance to get to the next step. We’re here to get in on the ground floor of fresh ideas from unlikely places – you know, the kind that could change the world.</p>
                            <br />
                            <form action="/contactUs" method="GET">
                                <button class="btn btn-outline-danger btn-lg btn-v-small-mob">
                                    Let's Collaborate!
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section8: This is us -->
        <div id="this-is-us" class="section">
            <div class="container container-wrap">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <img src="images/8 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="content-wrap">
                            <h1>
                            <strong>
                            This is <span>us</span> 
                            </strong>
                            </h1><br />
                            <p class="head-para">
                            We work with the core objective of serving the clients with best solutions.
                            </p>
                            <p class="for-desktop">We integrate the advanced technology to your business environment to boost the functionality and productivity of your business. Our team of experts takes the effort to provide bespoke solutions to empower your business in the digital world. We pay more attention to come up with perfect solution suiting individual business requirements and expectations.We provide an independent and objective oriented assessment of your existing IT environment and thus help you understand the core benefits.</p>
                            <br />
                            <form action="/about" method="GET">
                            <button class="btn btn-outline-danger btn-lg btn-v-small-mob">
                            View More
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section9: Get in touch -->
        <div id="get-in-touch" class="section">
            <div class="container container-wrap">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <img src="images/9 copy.png" class="img-responsive" style="width: 100%; height: auto;" alt="">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="content-wrap">
                            <h1>
                            <strong>
                            Get in <span>Touch</span> 
                            </strong>
                            </h1><br />
                            <p class="head-para">
                            We'd love to discuss any project or enquiry you have in mind.
                            </p>
                            <p class="for-desktop">We encourage each step towards initiation or enhancement of a business. Through our technical expertise and services, we extend our complete support to people looking for affordable IT solutions. Be it for a project discussion or a query, we are ready to hear from you.We listen to our customers and proactively focus on the development of relevant features to improve our production flexibility and efficiency.</p>
                            <br />
                            <form action="/contactUs" method="GET">
                                <button class="btn btn-outline-danger btn-lg btn-v-small-mob">
                                    Contact Us
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- jQuery google cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<!-- scroll js cdn -->
<script src="js/jquery.vendor.js"></script> 
<!-- ccustom scroll js -->
<script>
    $('#pagepiling').pagepiling({
    menu: '#menu',
    anchors: ['home','mobile-development', 'web-development', 'graphics-design' ,'mobile-games','customized-software', 'stuff-we-did','share-your-idea','this-is-us','get-in-touch'],
    sectionsColor: ['#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff'],
    navigation: {
        'position': 'right',
        'tooltips': ['Home', 'Mobile Development', 'Web Development','Design', 'Mobile Games','Customized Software', 'Stuff we did','Share your idea','This is us','Get in touch']
    },
    menu: '#menu',
    afterRender: function(){
        $('#pp-nav').addClass('custom');
    },
    afterLoad: function(anchorLink, index){
        if(index>1){
            $('#pp-nav').removeClass('custom');
        }else{
            $('#pp-nav').addClass('custom');
        }
    }
    });
</script>
 <!-- custom js -->
 <script src="js/myscript.js" charset="utf-8"></script>
 <!-- bootstrap js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
