<%- include("partials/header") -%>
<link rel="stylesheet" href="css/thanks.css">
<h2 class="h2">Happy to have you on board!
</h2>
<p style="text-align: center !important; font-size:150% !important">Resume submitted successfully.<br /> We will contact you soon.</p>
<div class="foot">
    <%- include("partials/footer-social") -%>
</div>
<script src="js/typeEffect.js"></script>
<%- include("partials/footer") -%> 
