<%- include("partials/header") -%>
<link rel="stylesheet" href="css/thanks.css">
<h2 class="h2">We value your idea!
</h2>
<p style="text-align: center !important; font-size:150% !important">Your form submitted successfully.<br /> Our representatives will be in touch with you soon.</p>
<div class="foot">
    <%- include("partials/footer-social") -%>
</div>
<script src="js/typeEffect.js"></script>
<%- include("partials/footer") -%> 
