h2{
    font-size: 6rem !important;
    margin-top: 20%;
    text-align: center !important;
    color: red;
}

.foot{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
}
@media (max-width:500px){
    h2{
        font-size: 3rem !important;
        /* margin-top: 40% !important; */
        margin: 40% auto !important;
        padding: 10% !important;
        width: 80%;
    }
}