.text-container{
    padding:7%;
}
p {
    margin: 0 0 20px 0 !important;
}
body {
    background: #FFF !important;
    font-size: 18px !important;
    line-height: 26px !important;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important; */
    font-weight: normal !important;
    color: #7f7f7f !important;
}
p>strong{
    font-weight: bolder !important;
    font-size: x-large !important;
    color: #000 !important;
}