.card-body{
  text-align: center !important;
}
.nav-logo-light{
  display: none;
}
.nav-link.active {
  color: red !important;
}
input, select{
  border-radius: 3rem !important;
}
textarea {
  border-radius: 1.5rem !important; 
}
input:focus, textarea:focus{
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25) !important;
  border-color: red !important;
}
select:focus{
  border-color: #fff !important;
}
input, textarea, select{
  border: 1px solid #fff !important;
}
.selectWrapper{
  border-radius:3rem;
  overflow:hidden;
  background:#cccccc;
  /* border:1px solid #cccccc; */
}
.selectBox{
  width:140px;
  height:40px;
  border:0px;
  outline:none;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
strong span {
  color: red;
}
p{
  color: #7f7f7f;
  text-align: justify;
}
h1{
  text-align: center;
}
b, strong {
  font-weight: 400 !important;
}
button{
  border-radius: 3rem !important;
}
button:focus {
  outline: 1px dotted;
  outline: 0 auto #dc3545 !important;
  /* border-radius: 0.5rem !important; */
}
.navbar-nav{
  background: #fff;
}
.navbar-nav>a {
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-nav>a {
  margin-left: 25px;
  margin-right: 25px;
}

.navbar-nav>button {
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-nav>button {
  margin-left: 25px;
  margin-right: 25px;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: red;
  transition: width .5s;
}
.nav-item:hover::after {
  width: 100%;
 transition: width .5s;
}
.navbar-light{
  color:red !important;
}
.nav-item:hover{
  color: red !important;
}
.navbar-light .navbar-toggler {
  border-color: #dc3545 !important;
}
.navbar-toggler:focus {
  color: #dc3545
}
.content-wrap{
  padding: 5rem 3rem;
}
.container-wrap{
  margin-top:5rem;
  text-align: center;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 5.5rem;
	z-index: 70;
	width: 100%;
	padding: 2rem;
	margin:0;
}
.footer-social-content > hr{
  border: none;
  height: 2px;
  color: #7f7f7f;
  background-color: #7f7f7f;
  margin: 1rem 10%;
}
.footer-social-text{
  margin: 10% 0 ;
}
.footer-social-icon{
  text-align: right;
  margin: 10% 0 ;
}
.social-icon{
  font-size: 150%;
  color: #7f7f7f;
  margin: auto 1%;
}
span > a {
  color: red !important;
}

.logo-slider{
  border: solid 4px #999;
  padding: 10px;
}
.logo-slider .logo{
  height: 40px;
  width: 100%;
  text-align: center;
}
.logo img{
  height: 100%;
}

/* media queries */
/* mobile */
@media (max-width:500px){
  h1{
    font-size: 2rem !important;
  }
  b, strong {
    font-weight: 400 !important;
  }
  .nav-item:hover::after {
    width: 25%;
   /* transition: width .3s; */
  }
  .for-desktop{
    display: none;
  }
  .content-wrap{
    padding: 0.5rem 1.5rem;
    text-align: center;
  }
  #menu{
    height: 6rem;
  }
  #bolt-logo-b{
    display: none !important;
  }
  .mobile-navbar2-text{
    display: none;
  }
  .footer-social-text-para > span {
    display: flex;
    flex-direction: row;
  } 
  .footer-social-text-para-hide{
    display: none;
  }
  .footer-social-text-column{
    margin-left: 7% !important;
  }
  .footer-social-icon {
    margin: 10% 9% 10% 0;
  }
}
/* ipad pro */
@media(max-width: 1284px) and (min-width: 992px) {
  .navbar-nav>a {
    margin-left: 0 !important;
    margin-right: 6px !important;
  }
} 
/* ipad landscape */
@media(max-width:1025px)and (min-width:1023px){
  b, strong {
    font-weight: 400 !important;
}
.container-wrap{
  margin-top: 8.5rem;
}
}
/* ipad */
@media(max-width: 991px) and (min-width: 500px) {
  .for-desktop{
    display: none;
  }
  .content-wrap{
    padding: 0.5rem 1.5rem;
    text-align: center;
  }
  .head-para{
    text-align: center;
  }
  .container-wrap{
    margin-top:0;
  }
}
/* iphone SE */
@media(max-width: 322px) and (min-width: 318px){
  h1{
    font-size: 1.5rem !important;
  }
} 

/* very small phone */
@media(max-width:400px){
  .content-wrap {
    margin-top: -53px;
  }
  .btn-v-small-mob{
    margin-top: -37px;
  }
  .head-para{
    margin-top: -16px;
  }
}