/* for mobile only */
@media (max-width:500px){
    #navbar2 > .navbar-nav {
        flex-direction: row;
    }
    #navbar2-items > a {
        margin-left: 10px;
        margin-right: 10px;
    }
    #navbar2-items > .nav-link.active::after {
        top: 0.5rem;
        display: block;
        width: 100%;
    }
    #navbar2-items > .nav-item::after {
        content: '';
        position: relative;
        width: 0;
        top: 0.5rem;
        display: block;
        height: 3px;
        background: red;
        transition: 0.5s;
      }
    #navbar2-items >  .nav-item:hover::after {
        content: '';
        position: relative;
        width: 100%;
        top: 0.5rem;
        height: 3px;
        display: block;
        transition: width 0.5s;
      }
    
    .text-nav2-section > p {
        width: 71%;
        padding-top: 8%;
        margin: 0 auto;
        text-align: justify!important;
    } 
    .text-nav2-section > h1 {
        margin: -3rem 1rem 0 1rem;
    }
    .below-nav2-section > .img-desktop {
        display: none;
    }
    .mobile-apps-for > img {
        max-width: 100%;
        height: 100%;
        object-fit: cover; 
     }
     .mobile-apps-for-text{
        padding-top: 5%;
        padding-bottom: 2%;
    }
    .ios-apps-img{
        max-width: 100%;
        object-fit: cover;  
    }
    .ios-img-desktop{
        display: none;
    }
    .ios-heading-desktop{
        display: none;
    }
    .ios-heading-mobile{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .jumbotron-ios-apps{
        padding-top: 0 !important;
    }
    .iosBtn {
        margin: 10% 30% 10% 30%;
    }
    .jumbotron-ios-apps > hr {
        text-align: center !important;
        margin: 12% auto;
    }
    .jumbotron-ios-apps > ul {
        margin-left: 7%;
    }
    .container-android {
        width: 96%;
    }
    .col-android{
        padding: 0;
    }
    .col-android > #android-bg-img2, #android-bg-img1 {
        max-width: 100%;
        object-fit: cover;
    }
    .android-apps-part-1-desktop{
        display: none;
    }
    .android-heading{
        display: none;
    }
    .androidBtn {
        margin: 10% 30%;
    }
    .jumbotron-android-apps > ul {
        width: 80%;
        margin: 2% 13%;
    }
    .jumbotron-android-apps > hr {
        width: 40%;
        margin: 12% auto;
    }
    .android-apps-part-2-desktop{
        display: none;
    }
    .jumbotron-cross-platform-mobile{
        padding: 0 !important;
    }
    .jumbotron-cross-platform > .tech-box-container {
        position: absolute;
        top: 52%;
        left: 0;
        margin: 0; 
        padding: 0 17%;
    }
    .jumbotron-cross-platform > p {
        width: 85%;
        text-align: justify;
    }
    .jumbotron-cross-platform > img {
        margin: 25% auto 0;
    }
    .cloud-section > img {
        height: 100%;
        object-fit: cover;
    }
    .cloud-selection-content {
        position: absolute;
        left: 13%;
        top: 2.5rem;
        width: 85%;
    }
    .cloud-selection-content > p {
        text-align: justify;
        margin-right: 12%;
        margin-top: 8%;
    }
    .tech-box-container-cloud-mobile{
        margin: 10% auto;
    }
    .cloudBtn {
        margin: 10% 23%;
    }
    .cloud-selection-content > ul {
        margin: 5% 5%;    
    }
    .cloud-selection-content > h1 {
        text-align: center !important;
        margin-bottom: 5%;
        margin-right: 10%;
    }
    .row-industry-mobile > .col-lg-2{
        margin-bottom: 5% !important;
        text-align: center;
    }
    .jumbotron-portfolio-mobile{
        display: none;
    }
    .text-for-portfolio > h1 {
        margin-bottom: 10%;
        margin-top: 5%;
    }
    .text-for-portfolio > p {
        color: #fff !important;
        text-align: justify;
        width: 90%;
        margin: 0 5%;
    }
    .jumbotron-contact-mobile{
        display: none;
    }
    .portfolio-wrapper{
        top: 42%;
        width: 200px;
        height: 350px;
    }
    .portfolio-animation-container {
        margin: 15%;
        padding: 25%;
    }
    #pc0{
        left: -20%;
    }
    #pc1{
        left: 21%;
    }
    #pc2{
        left: -71%;
    }
    .project-info {
        position: absolute;
        top: 14%;
        left: 20%;
    }
    .project-info > p {
        display: none;
    }
    .portfolio-btn {
        text-align: center;
        margin-left: 0%;
        margin-top: 12%;
    }
    #pc1:hover, #pc2:hover, #pc0:hover{
        z-index: 1000;
    }
    .carousel-control-prev,.carousel-control-next{
        margin-left: 5%;
        margin-right: 5%;
    }
    .jumbotron-contact >h2 {
        text-align: center;
        width: 90%;
        margin-left: 8%;
        margin-bottom: 6%;
    }
}

/* for desktop only  */
@media (min-width:991px) {
    .below-nav2-section > .img-mobile {
        display: none;
    }
    .mobile-apps-for > img {
        max-width: 100%;
        object-fit: cover;
     }
    .ios-img-mobile{
        display: none;
    }
    .ios-img-desktop{
        margin-left: -31%;
    }
    .ios-heading-mobile{
        display: none;
    }
    .col-android{
        padding: 0;
    }
    .col-android > #android-bg-img1 {
        z-index: -1;
        position: relative;
        width: 150%;
        object-fit: cover;
    }
    .col-android > #android-bg-img2 {
        z-index: -1;
        width: 150%;
        object-fit: cover;
    }
    .android-apps-part-1-mobile{
        display: none;
    }
    .android-apps-part-2-mobile {
        display: none;
    }
    .cloud-selection-content {
        top: -5rem;
    }
}
/* for iPad/tablet */
@media(max-width: 991px) and (min-width: 500px){
    #navbar2 > .navbar-nav {
        flex-direction: row;
    }
    #navbar2-items > a {
        margin-left: 10px;
        margin-right: 10px;
    }
    #navbar2-items > .nav-link.active::after {
        top: 0.5rem;
        display: block;
        width: 100%;
    }
    #navbar2-items > .nav-item::after {
        content: '';
        position: relative;
        width: 0;
        top: 0.5rem;
        display: block;
        height: 3px;
        background: red;
        transition: 0.5s;
      }
    #navbar2-items >  .nav-item:hover::after {
        content: '';
        position: relative;
        width: 100%;
        top: 0.5rem;
        height: 3px;
        display: block;
        transition: width 0.5s;
      }
      .mobile-navbar2-text{
        display: none;
      }
      .text-nav2-section > p {
        width: 41%;
        margin: 0 auto;
        text-align: justify !important;
    }
    .text-nav2-section > h1 {
       margin-bottom: 6%; 
    }
    .img-mobile{
        display: none;
    }
    .mobile-apps-for > img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .ios-heading-desktop, .jumbotron-ios-apps-tab{
        display: none;
    }
    .ios-heading-mobile{
        margin-top: 5% !important;
    }
    .ios-img-desktop{
        display: none;
    }
    .ios-img-mobile{
        max-width: 100%;
    }
    .android-apps-part-1-desktop, .android-apps-part-2-desktop {
        display: none;
    }
    .col-android > #android-bg-img2 {
        z-index: -1;
        /* max-width: 100%; */
        width: 100%;
    }
    .col-android > #android-bg-img1 {
        z-index: -1;
        /* max-width: 100%; */
        width: 100%;
    }
    .cloud-section > img {
        height: 100%;
        object-fit: cover;
    }
    .jumbotron-cross-platform > .tech-box-container {
        position: absolute;
        top: 39%;
        left: 0;
        margin: 0;
        padding: 0 29%;
    }
    .jumbotron-contact {
        padding: 3% !important;
    }
    .portfolio-wrapper{
        top: 42%;
        width: 200px;
        height: 350px;
    }
    .portfolio-animation-container {
        margin: 0%;
        padding: 25%;
    }
    #pc0{
        left: -9%;
    }
    #pc1{
        left: 62%;
    }
    #pc2{
        left: -80%;
    }
    .project-info {
        position: absolute;
        top: 14%;
        left: 20%;
    }
    .project-info > p {
        display: none;
    }
    .portfolio-btn {
        text-align: center;
        margin-left: 0%;
        margin-top: 12%;
    }
    #pc1:hover, #pc2:hover, #pc0:hover{
        z-index: 1000;
    }
}
@media (max-width:1201px)and (min-width:991px){
    #pc0{
        left: -9%;
    }
    #pc1{
        left: 62%;
    }
    #pc2{
        left: -80%;
    }  
}
/* for small mobile devices */
@media(max-width: 400px){
    .jumbotron-cross-platform > .tech-box-container {
        display: none;
    }
    .jumbotron-cross-platform > img {
        margin: 6% auto 0;
    }
    .iosBtn {
        margin: 10% 20% 10% 24%;
    }
    .androidBtn {
        margin: 0% 30%;
    }
    .portfolio-wrapper {
        top: 52%;
        width: 200px;
        height: 350px;
    }
    #pc0 {
        left: -28%;
    }
    #pc1 {
        left: 14%;
    }
    #pc2 {
        left: -66%;
    }
}